* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Baloo Chettan 2', cursive;
}

.fondo-section img {
    display: flex;
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 50px;
    border: rgb(0, 0, 0) solid 3px;
}

.texto p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto h5 {
    text-align: center;
    font-size: 40px;
}

.section p {
    font-size: 20px;
}

.row img {
    height: 250px;
    width: 200px;
}

h5, p {
    color: black;
}

.fondo img {
    border: rgb(255, 255, 255) solid 3px;
}

.backg {
    background: #f8bbd0;
}

#carousel-foto img {
    height: 400px;
}

.fondo-section h5 {
    margin-bottom: 20px;
    margin-top: 15px;
}

#banner {
    background: rgb(184, 118, 140);
    transition: .6s;
}

#banner a img {
    display: flex;
    float: left;
    height: 79px;
    width: 160px;
    margin-right: 50px;
}

#banner .logo-mac {
    padding-left: 200px;
}

#banner .desc-mac {
    padding-right: 200px;
}

#banner p {
    padding: 10px;
    font-size: 20px;
}

#banner:hover {
    background: rgb(255, 255, 255);
    transition: .6s;
}